<!DOCTYPE html>
<html lang="en">
<head>
    <title>Leaderboard</title>
    <style>
    table {
        width:100%;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: left;
    }
    table#t01 tr:nth-child(even) {
        background-color: #eee;
    }
    table#t01 tr:nth-child(odd) {
       background-color:#fff;
    }
    table#t01 th    {
        background-color: black;
        color: white;
    }
    </style>
</head>
<body>
    <h1>Leaderboard</h1>

    {% if verdict != None %}
        <h2> {{ verdict }} </h2>
    {% endif %}

    <table id="t01">
        <tr>
            <td> Name </td>
            {% for problem in problems %}
                <td> {{ problem }} </td>
            {% endfor %}
        </tr>
        {% for name, record in items %}
            <tr>
                <td> {{ name }} </td>
                {% for problem in problems %}
                    <td> {{ record.get_score(problem)|round(0, 'floor') }} </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

</body>
</html>
