<!DOCTYPE html>
<html lang="en">
<body>
    <title>Upload your submission</title>
    <h1>Upload your submission</h1>
    <form action="" method=post enctype=multipart/form-data>
        Name <input type=text name=name>
        <select name="problem">
            {% for problem in problems %}
                <option value={{ problem }}> {{ problem }} </td>
            {% endfor %}
        </select>
        <p><input type=file name=file>
        <input type=submit value=Upload>
    </form>
</body>
</html>
